Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore

.env.local

**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/.next
**/dist
.env
.env.production
Dockerfile
.docker
.vercel
.next
.cache

.idx
docs
.next
*.tsbuildinfo